<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
        function myMap() {
            var things = document.getElementsByClassName("mapObject");

            for (let index in things) {
                var element = things[index];
                var mapProp = {
                    center: new google.maps.LatLng(element.dataset.lat, element.dataset.long),
                    zoom: 15,
                };
                var map = new google.maps.Map(document.getElementById("myMap" + element.dataset.identifier), mapProp);
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(element.dataset.lat, element.dataset.long),
                    map: map,
                    animation: google.maps.Animation.DROP
                });
            }
        }

        var autocomplete;

        function initialize() {
            autocomplete = new google.maps.places.Autocomplete(
                    (document.getElementById('autocomplete')),
                    {types: ['geocode']});
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
            });
        }
    </script>
    <!--    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3MKfXhqoMnntqSjSsQk1o4tK-_epAQIQ&callback=myMap" async defer></script>-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3MKfXhqoMnntqSjSsQk1o4tK-_epAQIQ&libraries=places"></script>
</head>
<body onload="initialize()">

<nav class="navbar sticky-top navbar-expand-md navbar-fixed-top navbar-dark bg-info main-nav">
    <a class="navbar-brand" href="#">DataDish</a>
    <ul class="nav navbar-nav text-nowrap flex-row mx-md-auto order-1 order-md-2">
        <div class="collapse navbar-collapse mx-auto " id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0 align-content-sm-center" action="/search/queryRestaurants"
                  method="get">
                <div id="locationField">
                    <input id="autocomplete" style="width: 300px;" name="location" class="form-control mr-sm-2"
                           placeholder="Location" onFocus="geolocate()" type="text" />
                </div>
                <input id="searchBar" style="width: 300px;" class="form-control mr-sm-2" type="search"
                       placeholder="Restaurant" aria-label="Search">
                <button class="btn btn-dark btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </ul>
</nav>

<div class="row justify-content-md-start p-5">
    {{#each restaurantResponse}}
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <div id="myMap{{id}}" class="mapObject" data-identifier="{{id}}" style="height:300px;"
                         data-lat="{{lat}}" data-long="{{long}}">
                        <script>myMap()</script>
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{name}}</h3>
                    <h5 class="card-subtitle mb-2 text-muted"><i>{{street}}</i></h5>
                    <h5 class="card-subtitle mb-2 text-muted"><i>{{city}}</i></h5>
                    <h5 class="card-subtitle mb-2 text-muted"><i>{{postalCode}}</i></h5>
                </div>
            </div>
        </div>
    {{/each}}
</div>

</body>
</html>